#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

.modal {
    border-radius: 5px;
    background :rgb(219 136 118);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }
  
  .modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .modal header img {
    cursor: pointer;
  }
  
  .modal header h2 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    color: #fff;
  }
  
  form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  form label {
    color: #fff;
    font-size: 18px;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  form input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 5px;
  }
  
  button.contact_button {
    background-color: #901c1c;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;

  }
  
  form textarea {
    width: 100%;
    height: 120px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    resize: none;
  }
  
.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.image-modal img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    margin: 0 auto;
}

.image-modal.open {
    display: flex;
}

.image-modal .prev-button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    z-index: 1;
}

.image-modal .next-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    z-index: 1;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 1;
  }
  
  .close-button:hover {
    color: #ccc;
  }
  .back-button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 120px;
    height: 40px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    top: 20px;
    right: 20px;
    float: right;
    position: absolute;
  }
  .video-modal {
    max-width: 100%;
    height: auto;
  }
  
  .black-square {
    background-color: black;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  
  .play-icon {
    color: white;
    font-size: 48px;
  }

  .blockouf {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 200px;
  }
  img.portrait {
    width: 300px;
    height: 300px;
    position: relative;
    float: right;
    background-position: center;
    object-fit: cover;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    margin: auto;
}
.info-wrapper {
    margin: auto;
}


#filter-select {
    background: #901c1c;
    border: 0px;
    width: 210px;
    height: 40px;
    padding: 11px;
    margin: 0px 10px;
    color: white;
    border-radius: 4px;
}
.filter-section {
  position: relative;
  margin: auto;
  width: 86%;
  padding: 1em;
}

.filter-section label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-section li {
  display: inline-block;
  margin-right: 10px;
}

.filter-section a {
  display: block;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
}

.filter-section a:hover {
  background-color: #f0f0f0;
}

.filter-section .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 5px 0;
  border: 1px solid #ccc;
  z-index: 1;
}

.filter-section li:hover .dropdown-menu {
  display: block;
}

.info-wrapper h2 {

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 83px;
    color: #D3573C;
    margin: 0;
}
p.city {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
    margin: 0px;
}
.tgm {
    background: #DB8876;
    border-radius: 5px;
    width: 30%;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 5em;
    position: sticky;
    bottom: 0;
    left: 0px;
    right: 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    max-height: 3em;
}.tgm p{
    margin: auto;
    width: 80%;
}

.prblock {
 width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr;

}
p.ligne {
    width: 100%;
    margin: auto;
    color: #901c1c;
    font-weight: bold;
    float: left;
    
}

.lowgne{
    width: 100%;
    margin: auto;
    text-align: right;
    color: #901c1c;
    font-weight: bold;
    float: right;
}

