body {
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    background-image: url(../asset/img/lampos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    padding: 20px;
}
h1 {
    color: white;
}
h2 {
    color: #ffd15b;
    margin: auto;
    width: 60%;
    font-size: 48px;
    margin-top: 1em;
}
p{
    font-family: 'Manrope', sans-serif;
}
#search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    margin: 5em auto;
}

#main-search-input {
    flex: 1;
    margin-right: 10px;
    width: 70%;
    height: 40px;
    border-radius: 6px;
    border: 0px #b2b2b2 solid;
    padding: 1em;
}

#filter-select {
    margin-right: 10px;
}

#filter-button {
    padding: 5px 10px;
}

#results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 90%;
    margin: auto;
}
.recipe img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin: auto;
    display: block;
    border-radius: 12px 12px 0px 0px;
  }
  .ingredients-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.recipe {
    width: 90%;
    border-radius: 12px;
    box-shadow: 5px 5px 12px #90909061;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.block {
    padding: 2em;
}

ul.ingredients-column li {
    list-style: none;
}

ul.ingredients-column {
    padding: 0;
}

p.bol {
    font-weight: 600;
}
.time {
    display: block;
    position: relative;
    float: right;
    background: #FFD15B;
    width: 65px;
    padding: 8px 15px 0px 15px;
    gap: 10px;
    height: 26px;
    border-radius: 14px;
    text-align: center;
    top: -15em;
    left: -1em;
}


/* style.css */
#selected-keywords-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.keyword-tag {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: yellow;
}

.keyword-tag span {
    margin-right: 4px;
}

.close-button {
    margin-left: 8px;
    cursor: pointer;
}.container {
    position: relative;
  }.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-container {
  position: relative;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 300px;
  background: white;
}
input[type="text"]:focus-visible {
    outline: none
  }
  

.awesomplete-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.awesomplete-list {
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

.awesomplete-list-item {
  padding: 8px 10px;
  cursor: pointer;
}

.awesomplete-list-item:hover {
  background-color: #f2f2f2;
}
span.visually-hidden {
    display: none;
}

ul{
    list-style: none;
}

.suggestion-list{

    list-style: none;
    background: #ccc;
    z-index: 2;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;
    position: absolute;
    top: 1em;
    width: 288px;
    background: white;
    padding: 1em;
    box-shadow: 0px 7px 13px #40404047;
    border: 1px solid #ccc;
    border-top: none;
}